In [1]:
import pandas as pd
import numpy as np

In [2]:


namebasics = pd.read_csv('name.basics.tsv.gz',usecols=['primaryProfession', 'nconst', 'primaryName'], sep = '\t')

In [3]:
namebasics

             nconst         primaryName                    primaryProfession
0         nm0000001        Fred Astaire       soundtrack,actor,miscellaneous
1         nm0000002       Lauren Bacall                   actress,soundtrack
2         nm0000003     Brigitte Bardot  actress,soundtrack,music_department
3         nm0000004        John Belushi              actor,soundtrack,writer
4         nm0000005      Ingmar Bergman                writer,director,actor
...             ...                 ...                                  ...
11531344  nm9993714   Romeo del Rosario  animation_department,art_department
11531345  nm9993716       Essias Loberg                                  NaN
11531346  nm9993717  Harikrishnan Rajan                      cinematographer
11531347  nm9993718         Aayush Nair                      cinematographer
11531348  nm9993719          Andre Hill                                  NaN

[11531349 rows x 3 columns]

In [4]:
#namebasics = namebasics.astype({"primaryProfession": str})

namebasics.dtypes

nconst               object
primaryName          object
primaryProfession    object
dtype: object

In [5]:

namebasics["primaryProfession"] = namebasics["primaryProfession"].str.split(",")

In [6]:
namebasics.explode('primaryProfession')

             nconst         primaryName primaryProfession
0         nm0000001        Fred Astaire        soundtrack
0         nm0000001        Fred Astaire             actor
0         nm0000001        Fred Astaire     miscellaneous
1         nm0000002       Lauren Bacall           actress
1         nm0000002       Lauren Bacall        soundtrack
...             ...                 ...               ...
11531344  nm9993714   Romeo del Rosario    art_department
11531345  nm9993716       Essias Loberg               NaN
11531346  nm9993717  Harikrishnan Rajan   cinematographer
11531347  nm9993718         Aayush Nair   cinematographer
11531348  nm9993719          Andre Hill               NaN

[14981996 rows x 3 columns]

In [7]:


titleprincipals = pd.read_csv('title.principals.tsv.gz',usecols=['category', 'nconst', 'tconst'], sep = '\t')

In [8]:
titleprincipals

             tconst      nconst         category
0         tt0000001   nm1588970             self
1         tt0000001   nm0005690         director
2         tt0000001   nm0374658  cinematographer
3         tt0000002   nm0721526         director
4         tt0000002   nm1335271         composer
...             ...         ...              ...
49736919  tt9916880  nm10535738          actress
49736920  tt9916880   nm0996406         director
49736921  tt9916880   nm1482639           writer
49736922  tt9916880   nm2586970           writer
49736923  tt9916880   nm1594058         producer

[49736924 rows x 3 columns]

In [9]:


titlesbasics = pd.read_csv('title.basics.tsv.gz',usecols=['primaryTitle', 'genres', 'tconst', 'titleType'], sep = '\t')

In [10]:
titlesbasics.value_counts('titleType')

titleType
tvEpisode       6616225
short            863404
movie            606395
video            258969
tvSeries         223071
tvMovie          135614
tvMiniSeries      42849
tvSpecial         36476
videoGame         30824
tvShort           10512
tvPilot               2
dtype: int64

In [11]:
titlesMOVIESshortsvids = titlesbasics[titlesbasics["titleType"].isin(['short','movie', 'video', 'tvMovie'])]

In [12]:
titlesMOVIESshortsvids.value_counts('titleType')

titleType
short      863404
movie      606395
video      258969
tvMovie    135614
dtype: int64

In [13]:
titlesMOVIESshortsvids

,tconst,titleType,primaryTitle,genres
0,tt0000001,short,Carmencita,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,"Comedy,Short"
...,...,...,...,...
8824281,tt9916730,movie,6 Gunn,\N
8824291,tt9916754,movie,Chico Albuquerque - Revelações,Documentary
8824292,tt9916756,short,Pretty Pretty Black Girl,Short
8824296,tt9916764,short,38,Short
8824339,tt9916856,short,The Wind,Short

In [14]:
titleRatings = pd.read_csv('title.ratings.tsv.gz', sep = '\t')
titleRatingsSrtd = titleRatings.sort_values( by=['numVotes', 'averageRating'], ascending= False )
titleRatingsSrtd

            tconst  averageRating  numVotes
82505    tt0111161            9.3   2569002
251029   tt0468569            9.1   2534021
629117   tt1375666            8.8   2254701
99118    tt0137523            8.8   2021525
81412    tt0109830            8.8   1981606
...            ...            ...       ...
1154310  tt7813152            1.0         5
1163644  tt8027962            1.0         5
1185034  tt8581078            1.0         5
1196843  tt8914192            1.0         5
1197669  tt8941352            1.0         5

[1230952 rows x 3 columns]

In [15]:
titleRatingsSrtd['POP SCORE'] = titleRatingsSrtd['averageRating'] * titleRatingsSrtd['numVotes']

In [16]:
titleRatingsSrtd

            tconst  averageRating  numVotes   POP SCORE
82505    tt0111161            9.3   2569002  23891718.6
251029   tt0468569            9.1   2534021  23059591.1
629117   tt1375666            8.8   2254701  19841368.8
99118    tt0137523            8.8   2021525  17789420.0
81412    tt0109830            8.8   1981606  17438132.8
...            ...            ...       ...         ...
1154310  tt7813152            1.0         5         5.0
1163644  tt8027962            1.0         5         5.0
1185034  tt8581078            1.0         5         5.0
1196843  tt8914192            1.0         5         5.0
1197669  tt8941352            1.0         5         5.0

[1230952 rows x 4 columns]

In [17]:
titlesBasicsRatings = titlesMOVIESshortsvids.merge(titleRatingsSrtd, how= 'left', on= 'tconst')

In [18]:
titleSRTDpop = titlesBasicsRatings.sort_values( by=['POP SCORE'], ascending= False )

In [19]:
titleSRTDpop.head(60)

,tconst,titleType,primaryTitle,genres,averageRating,numVotes,POP SCORE
100325,tt0111161,movie,The Shawshank Redemption,Drama,9.3,2569002.0,23891718.6
390700,tt0468569,movie,The Dark Knight,"Action,Crime,Drama",9.1,2534021.0,23059591.1
761671,tt1375666,movie,Inception,"Action,Adventure,Sci-Fi",8.8,2254701.0,19841368.8
122671,tt0137523,movie,Fight Club,Drama,8.8,2021525.0,17789420.0
100087,tt0110912,movie,Pulp Fiction,"Crime,Drama",8.9,1972078.0,17551494.2
99081,tt0109830,movie,Forrest Gump,"Drama,Romance",8.8,1981606.0,17438132.8
64437,tt0068646,movie,The Godfather,"Crime,Drama",9.2,1768712.0,16272150.4
118753,tt0133093,movie,The Matrix,"Action,Sci-Fi",8.7,1849023.0,16086500.1
108151,tt0120737,movie,The Lord of the Rings: The Fellowship of the Ring,"Action,Adventure,Drama",8.9,1789125.0,15923212.5
148479,tt0167260,movie,The Lord of the Rings: The Return of the King,"Action,Adventure,Drama",9.0,1767391.0,15906519.0
429413,tt0816692,movie,Interstellar,"Adventure,Drama,Sci-Fi",8.7,1712990.0,14903013.0
148480,tt0167261,movie,The Lord of the Rings: The Two Towers,"Action,Adventure,Drama",8.8,1596717.0,14051109.6
736271,tt1345836,movie,The Dark Knight Rises,"Action,Crime,Drama",8.4,1640491.0,13780124.4
102985,tt0114369,movie,Se7en,"Crime,Drama,Mystery",8.6,1575360.0,13548096.0
1048937,tt1853728,movie,Django Unchained,"Drama,Western",8.5,1484557.0,12618734.5
152312,tt0172495,movie,Gladiator,"Action,Adventure,Drama",8.5,1445608.0,12287668.0
93429,tt0102926,movie,The Silence of the Lambs,"Crime,Drama,Thriller",8.6,1377426.0,11845863.6
97706,tt0108052,movie,Schindler's List,"Biography,Drama,History",9.0,1308967.0,11780703.0
315571,tt0372784,movie,Batman Begins,"Action,Crime,Drama",8.3,1416076.0,11753430.8
108214,tt0120815,movie,Saving Private Ryan,"Drama,War",8.6,1338294.0,11509328.4
306892,tt0361748,movie,Inglourious Basterds,"Adventure,Drama,War",8.3,1384899.0,11494661.7
71321,tt0076759,movie,Star Wars,"Action,Adventure,Fantasy",8.6,1314458.0,11304338.8
66888,tt0071562,movie,The Godfather: Part II,"Crime,Drama",9.0,1223575.0,11012175.0
401941,tt0482571,movie,The Prestige,"Drama,Mystery,Thriller",8.5,1286709.0,10937026.5
438112,tt0848228,movie,The Avengers,"Action,Adventure,Sci-Fi",8.1,1347157.0,10911971.7
464166,tt0993846,movie,The Wolf of Wall Street,"Biography,Comedy,Crime",8.2,1329678.0,10903359.6
341511,tt0407887,movie,The Departed,"Crime,Drama,Thriller",8.5,1278816.0,10869936.0
74596,tt0080684,movie,Star Wars: Episode V - The Empire Strikes Back,"Action,Adventure,Fantasy",8.7,1242963.0,10813778.1
108114,tt0120689,movie,The Green Mile,"Crime,Drama,Fantasy",8.6,1249159.0,10742767.4
569484,tt1130884,movie,Shutter Island,"Mystery,Thriller",8.2,1248683.0,10239200.6
182767,tt0209144,movie,Memento,"Mystery,Thriller",8.5,1201586.0,10213481.0
81380,tt0088763,movie,Back to the Future,"Adventure,Comedy,Sci-Fi",8.6,1153192.0,9917451.2
1681430,tt7286456,movie,Joker,"Crime,Drama,Thriller",8.4,1172016.0,9844934.4
90602,tt0099685,movie,Goodfellas,"Biography,Crime,Drama",8.7,1108545.0,9644341.5
99627,tt0110413,movie,Léon: The Professional,"Action,Crime,Drama",8.6,1119983.0,9631853.8
149824,tt0169547,movie,American Beauty,Drama,8.4,1127758.0,9473167.2
415557,tt0499549,movie,Avatar,"Action,Adventure,Fantasy",7.9,1186350.0,9372165.0
108032,tt0120586,movie,American History X,Drama,8.5,1091845.0,9280682.5
1092282,tt2015381,movie,Guardians of the Galaxy,"Action,Adventure,Comedy",8.1,1132565.0,9173776.5
93553,tt0103064,movie,Terminator 2: Judgment Day,"Action,Sci-Fi",8.6,1062771.0,9139830.6
449448,tt0910970,movie,WALL·E,"Adventure,Animation,Family",8.4,1077435.0,9050454.0
103380,tt0114814,movie,The Usual Suspects,"Crime,Drama,Mystery",8.5,1056107.0,8976909.5
363099,tt0434409,movie,V for Vendetta,"Action,Drama,Sci-Fi",8.2,1094312.0,8973358.4
107827,tt0120338,movie,Titanic,"Drama,Romance",7.9,1127354.0,8906096.6
230975,tt0266697,movie,Kill Bill: Vol. 1,"Action,Crime,Drama",8.2,1078069.0,8840165.8
1376167,tt4154796,movie,Avengers: Endgame,"Action,Adventure,Drama",8.4,1034103.0,8686465.2
277331,tt0325980,movie,Pirates of the Caribbean: The Curse of the Bla...,"Action,Adventure,Fantasy",8.1,1071184.0,8676590.4
99572,tt0110357,movie,The Lion King,"Adventure,Animation,Drama",8.5,1017628.0,8649838.0
68543,tt0073486,movie,One Flew Over the Cuckoo's Nest,Drama,8.7,978624.0,8514028.8
101308,tt0112573,movie,Braveheart,"Biography,Drama,History",8.4,1012612.0,8505940.8
1376162,tt4154756,movie,Avengers: Infinity War,"Action,Adventure,Sci-Fi",8.5,999147.0,8492749.5
79344,tt0086190,movie,Star Wars: Episode VI - Return of the Jedi,"Action,Adventure,Fantasy",8.3,1015740.0,8430642.0
107868,tt0120382,movie,The Truman Show,"Comedy,Drama",8.2,1027971.0,8429362.2
506209,tt1049413,movie,Up,"Adventure,Animation,Comedy",8.3,1008076.0,8367030.8
230839,tt0266543,movie,Finding Nemo,"Adventure,Animation,Comedy",8.2,1011845.0,8297129.0
75360,tt0081505,movie,The Shining,"Drama,Horror",8.4,978750.0,8221500.0
95357,tt0105236,movie,Reservoir Dogs,"Crime,Drama,Thriller",8.3,985471.0,8179409.3
287380,tt0338013,movie,Eternal Sunshine of the Spotless Mind,"Drama,Romance,Sci-Fi",8.3,975545.0,8097023.5
314792,tt0371746,movie,Iron Man,"Action,Adventure,Sci-Fi",7.9,1020338.0,8060670.2
103287,tt0114709,movie,Toy Story,"Adventure,Animation,Comedy",8.3,957639.0,7948403.7

In [20]:
top5MOVIES = titleSRTDpop.head(5)

In [30]:
top5MOVIES.to_csv('top_MOVIES.csv', index=False)

In [22]:
titleSRTDavrate = titlesBasicsRatings.sort_values( by=['averageRating'], ascending= False )
titleSRTDavrate.head(50)

,tconst,titleType,primaryTitle,genres,averageRating,numVotes,POP SCORE
893381,tt15287366,short,Psychodelia,"Fantasy,Short",10.0,18.0,180.0
879254,tt1512706,short,American Patriot,"Comedy,Drama,Short",10.0,8.0,80.0
856433,tt14843700,short,JeeVam an UVSC,"Biography,Drama,Musical",10.0,7.0,70.0
980969,tt1679212,short,Imposing Disbelief,"Comedy,Short",10.0,6.0,60.0
822654,tt1446140,short,Ragman,Short,10.0,5.0,50.0
447902,tt0900970,video,Por ser Méxicano,Action,10.0,5.0,50.0
1431993,tt4679540,short,Ambivalent Hope: A Gun and a Prayer,"Drama,Short",10.0,10.0,100.0
803197,tt14227798,short,Racismo positivo,"Comedy,Short",10.0,12.0,120.0
829872,tt14549876,video,Eklavya,"Music,Short",10.0,6.0,60.0
967895,tt16460802,short,Bruit d'couloir,"Drama,Short",10.0,5.0,50.0
678509,tt12748102,short,Service not included,"Comedy,Drama,Short",10.0,11.0,110.0
308684,tt0363937,video,Republika Pescenica,Documentary,10.0,10.0,100.0
1153492,tt2302663,movie,Intrepid: The Zac Sunderland Story Part 2,Documentary,10.0,6.0,60.0
829695,tt14547828,short,Playdead,"Drama,Short",10.0,5.0,50.0
862960,tt1492831,video,F5,"Adventure,Short",10.0,5.0,50.0
546219,tt10988894,movie,What?,Comedy,10.0,6.0,60.0
1154033,tt2304939,short,The Butterfly Warning,"Short,Thriller",10.0,6.0,60.0
677941,tt12740192,short,The Shadow,"Comedy,Romance,Short",10.0,42.0,420.0
477437,tt10155422,short,Funding,"Drama,Short",10.0,5.0,50.0
1007101,tt17492706,movie,Allseasons (2021),Documentary,10.0,57.0,570.0
980146,tt16762816,movie,Travel from Moscow to Kostroma on the ship 'Kn...,Documentary,10.0,18.0,180.0
862267,tt14919334,short,airbnboom,"Comedy,Short",10.0,6.0,60.0
770303,tt13853356,short,The Lost Paradise,"Documentary,Short",10.0,6.0,60.0
677938,tt12740126,short,Lelia,"Drama,Short",10.0,42.0,420.0
602867,tt11750004,short,Bereh,"Drama,Short",10.0,6.0,60.0
1299486,tt3507346,short,Haiti Speaks,"Documentary,Short",10.0,6.0,60.0
1317171,tt3639532,movie,Shadowgirl: Welcome to Earth,Action,10.0,7.0,70.0
981009,tt1679251,short,Never Trust a Woman,"Comedy,News,Short",10.0,7.0,70.0
394924,tt0473665,tvMovie,Kinder des Schattens,Drama,10.0,20.0,200.0
524355,tt10726672,short,Un encuentro con la muerte,"Comedy,Short",10.0,9.0,90.0
640819,tt12248978,video,Eleni Voudouraki: Pes arketa,"Music,Short",10.0,246.0,2460.0
931297,tt15767304,short,Counting Down,"Drama,Mystery,Short",10.0,6.0,60.0
887961,tt15223520,short,Moin,"Action,Short",10.0,8.0,80.0
728290,tt1337618,short,The Flower Girl,"Comedy,Family,Short",10.0,7.0,70.0
549626,tt11040972,short,Leave Only Footprints: A Bigfoot Story,"Comedy,Short",10.0,8.0,80.0
795741,tt14143256,short,Rompiendo el círculo.,"Drama,Short",10.0,5.0,50.0
1515041,tt5511712,short,EVIDENcE of GHOSTS: NEVER BEFORE SEEN FOOTAGE,"Comedy,Short,Thriller",10.0,5.0,50.0
395114,tt0473904,video,Eat My Ass,Adult,10.0,10.0,100.0
1029660,tt1815936,video,Somos Pobres?,Drama,10.0,7.0,70.0
1318140,tt3648026,short,Cracked,"Drama,Family,Short",10.0,6.0,60.0
1230649,tt2920842,short,The Interlude,"Comedy,Drama,Short",10.0,26.0,260.0
1073864,tt1935790,video,El Reo 1025,Action,10.0,7.0,70.0
1350563,tt3896708,short,Echoes,"Drama,Short",10.0,6.0,60.0
549110,tt1103179,tvMovie,A Town Like Lackawanna,Documentary,10.0,6.0,60.0
778009,tt13937688,short,Jing's Nightmare (Avatar: The Last Airbender),"Fantasy,Short",10.0,27.0,270.0
548987,tt11028828,short,Châteaux de sable,"Fantasy,Short",10.0,5.0,50.0
822390,tt14458084,video,Perfect Little Failure,Short,10.0,6.0,60.0
777576,tt13931450,video,The Perfectionist,Short,10.0,6.0,60.0
931728,tt15774194,short,The Planting of Trees,"Drama,Short",10.0,10.0,100.0
728037,tt13374946,video,Interview with Leonardo Thimo,"Documentary,Short",10.0,9.0,90.0

In [23]:
titleSRTDpop.value_counts(['genres']).head(5)

genres
Drama,Short          168216
Short                164558
Drama                139532
Documentary          130595
Documentary,Short    123713
dtype: int64

In [24]:
top5 = titleSRTDpop.head(14)

In [25]:
top5.value_counts(['genres'])

genres
Action,Adventure,Drama     3
Action,Crime,Drama         2
Crime,Drama                2
Drama                      2
Action,Adventure,Sci-Fi    1
Action,Sci-Fi              1
Adventure,Drama,Sci-Fi     1
Crime,Drama,Mystery        1
Drama,Romance              1
dtype: int64

In [26]:
top5byscore = top5[['genres', 'POP SCORE']].sort_values(by= 'POP SCORE')

In [35]:
groupedtop5 = top5byscore.groupby(by="genres").sum()

groupedtop5
groupedtop5.to_csv('top_genres.csv', index=False)

In [32]:
#GENRES BY POPULARITY AMONG TOP5 POPULAR MOVIES

genrestop5 = groupedtop5.sort_values(by= 'POP SCORE', ascending = False)

In [31]:
pd.read_csv('top5MOVIES.csv')

,tconst,titleType,primaryTitle,genres,averageRating,numVotes,POP SCORE
0,tt0111161,movie,The Shawshank Redemption,Drama,9.3,2569002.0,23891718.6
1,tt0468569,movie,The Dark Knight,"Action,Crime,Drama",9.1,2534021.0,23059591.1
2,tt1375666,movie,Inception,"Action,Adventure,Sci-Fi",8.8,2254701.0,19841368.8
3,tt0137523,movie,Fight Club,Drama,8.8,2021525.0,17789420.0
4,tt0110912,movie,Pulp Fiction,"Crime,Drama",8.9,1972078.0,17551494.2