### Assuming that countries having recorded a regional title have subbed or dubbed the corresponding media
let's find out which countries are in top 10 in number of media, and in number of minutes

In [1]:
import pandas as pd

In [2]:
df_t_akas = pd.read_csv("./imdb/title.akas.tsv",'\t')
df_t_akas.head(30)

C:\Users\SushX\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\SushX\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0
5,tt0000001,6,Carmencita,US,\N,imdbDisplay,\N,0
6,tt0000001,7,Carmencita,\N,\N,original,\N,1
7,tt0000001,8,カルメンチータ,JP,ja,imdbDisplay,\N,0
8,tt0000002,1,Le clown et ses chiens,\N,\N,original,\N,1
9,tt0000002,2,Le clown et ses chiens,FR,\N,imdbDisplay,\N,0
10,tt0000002,3,A bohóc és kutyái,HU,\N,imdbDisplay,\N,0
11,tt0000002,4,Der Clown und seine Hunde,DE,\N,\N,literal title,0
12,tt0000002,5,Clovnul si cainii sai,RO,\N,imdbDisplay,\N,0
13,tt0000002,6,Клоун и его собаки,RU,\N,imdbDisplay,\N,0
14,tt0000002,7,The Clown and His Dogs,US,\N,\N,literal English title,0
15,tt0000002,8,道化師と犬,JP,ja,imdbDisplay,\N,0
16,tt0000003,1,Sarmanul Pierrot,RO,\N,imdbDisplay,\N,0
17,tt0000003,2,Szegény Pierrot,HU,\N,imdbDisplay,\N,0
18,tt0000003,3,哀れなピエロ,JP,ja,imdbDisplay,\N,0
19,tt0000003,4,Бідний П'єро,UA,\N,imdbDisplay,\N,0
20,tt0000003,5,Бедный Пьеро,RU,\N,imdbDisplay,\N,0
21,tt0000003,6,Pauvre Pierrot,\N,\N,original,\N,1
22,tt0000003,7,Poor Pierrot,GB,\N,imdbDisplay,\N,0
23,tt0000003,8,Pauvre Pierrot,FR,\N,imdbDisplay,\N,0
24,tt0000003,9,Armer Pierrot,DE,\N,\N,literal title,0
25,tt0000004,1,Un bon bock,\N,\N,original,\N,1
26,tt0000004,2,Un bon bock,FR,\N,imdbDisplay,\N,0
27,tt0000004,3,Ein gutes Glas Bier,DE,\N,\N,literal title,0
28,tt0000004,4,Un ţap de bere,RO,\N,imdbDisplay,\N,0
29,tt0000004,5,Полная кружка пива,RU,\N,imdbDisplay,\N,0

### Top 10 in number of media translated

In [18]:
df_t_akas.groupby('region').count().sort_values('titleId',ascending=False)[:11]['titleId']

region
FR    3753277
JP    3750433
DE    3723751
ES    3677221
IN    3676125
IT    3657987
PT    3598117
\N    1916324
US    1311018
GB     407343
CA     195721
Name: titleId, dtype: int64

## Checking the related regions of the top 10 countries.
Actually there's only GF, PF, TF for France and DDDE for Germany.

In [11]:
print('Number of title from french related regions: ',df_t_akas[df_t_akas['region'].isin(['GF','PF','TF'])].count()[0])
print('Number of title from german related regions: ',df_t_akas[df_t_akas['region'] == 'DDDE'].count()[0])

Number of title from french related regions:  34
Number of title from german related regions:  9060

### Conclusion: Not making much difference

### Top 10 in number of minutes translated

In [9]:
df_t_basics = pd.read_csv("./imdb/title.basics.tsv",'\t')
df_t_basics.head()

C:\Users\SushX\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\SushX\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [19]:
df_merge_duration = df_t_akas.merge(df_t_basics[['tconst','runtimeMinutes']], how="left",left_on="titleId", right_on="tconst")
df_merge_duration.head(11)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle,tconst,runtimeMinutes
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0,tt0000001,1
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0,tt0000001,1
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0,tt0000001,1
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0,tt0000001,1
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0,tt0000001,1
5,tt0000001,6,Carmencita,US,\N,imdbDisplay,\N,0,tt0000001,1
6,tt0000001,7,Carmencita,\N,\N,original,\N,1,tt0000001,1
7,tt0000001,8,カルメンチータ,JP,ja,imdbDisplay,\N,0,tt0000001,1
8,tt0000002,1,Le clown et ses chiens,\N,\N,original,\N,1,tt0000002,5
9,tt0000002,2,Le clown et ses chiens,FR,\N,imdbDisplay,\N,0,tt0000002,5
10,tt0000002,3,A bohóc és kutyái,HU,\N,imdbDisplay,\N,0,tt0000002,5

In [17]:
df_merge_duration.groupby('region').sum('runtimeMinutes').sort_values('ordering',ascending=False)[:12]

        ordering
region
JP      15726298
ES      15716258
FR      15443155
IT      14900374
DE      14702937
PT      14107416
IN      13943786
\N       4106652
US       3169553
GB       1418553
CA       1031074
BR        751647
GR        740960
XWW       734311
FI        604390
PL        603442
HU        556618
RU        546046
AU        537366
MX        464893

# We've got the same countries but in a slight different order
### Japan, Spain, France, Italy, Germany, Portugal, India, USA, Great-Britain and Canada