In [32]:
import pandas as pd

In [113]:
link = "./name.basics.tsv"
df_names_basics = pd.read_csv(link, sep= '\t',na_values = "\\N")

In [89]:
link = "./title.basics.tsv"
df_titles_basics = pd.read_csv(link, sep= '\t', na_values = "\\N")

In [35]:
link = "./title.crew.tsv"
df_titles_crew = pd.read_csv(link, sep= '\t',na_values = "\\N")

In [36]:
link = "./title.episode.tsv"
df_titles_episodes = pd.read_csv(link, sep= '\t',na_values = "\\N")

In [275]:
df_titles_episodes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6615976 entries, 0 to 6615975
Data columns (total 4 columns):
 #   Column         Dtype
---  ------         -----
 0   tconst         object
 1   parentTconst   object
 2   seasonNumber   float64
 3   episodeNumber  float64
dtypes: float64(2), object(2)
memory usage: 201.9+ MB

In [37]:
link = "./title.principals.tsv"
df_titles_principals = pd.read_csv(link, sep= '\t',na_values = "\\N")

In [92]:
df_names_basics.info()
df_names_basics.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11531349 entries, 0 to 11531348
Data columns (total 7 columns):
 #   Column             Dtype
---  ------             -----
 0   nconst             object
 1   primaryName        object
 2   birthYear          float64
 3   deathYear          float64
 4   primaryProfession  object
 5   knownForTitles     object
 6   age                float64
dtypes: float64(3), object(4)
memory usage: 615.8+ MB

           birthYear      deathYear            age
count  547868.000000  200081.000000  547868.000000
mean     1951.660648    1991.050235      70.339352
std        34.619033      34.236076      34.619033
min         4.000000      17.000000       0.000000
25%      1930.000000    1977.000000      44.000000
50%      1958.000000    1999.000000      64.000000
75%      1978.000000    2012.000000      92.000000
max      2022.000000    2022.000000    2018.000000

In [42]:
df_titles_basics.info()
print("Nan table \n", df_titles_basics.isna().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8824341 entries, 0 to 8824340
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         float64
 5   startYear       float64
 6   endYear         float64
 7   runtimeMinutes  object
 8   genres          object
dtypes: float64(3), object(6)
memory usage: 605.9+ MB
Nan table
 tconst                  0
titleType               0
primaryTitle            8
originalTitle           8
isAdult                 1
startYear         1168786
endYear           8735215
runtimeMinutes    6445130
genres             403302
dtype: int64

In [43]:
df_titles_crew.info()
df_titles_crew.isna().sum()
print("Nan table \n", df_titles_crew.isna().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8824341 entries, 0 to 8824340
Data columns (total 3 columns):
 #   Column     Dtype
---  ------     -----
 0   tconst     object
 1   directors  object
 2   writers    object
dtypes: object(3)
memory usage: 202.0+ MB
Nan table
 tconst             0
directors    3785673
writers      4305095
dtype: int64

In [44]:
df_titles_principals.info()
print("Nan table \n", df_titles_principals.isna().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49736924 entries, 0 to 49736923
Data columns (total 6 columns):
 #   Column      Dtype
---  ------      -----
 0   tconst      object
 1   ordering    int64
 2   nconst      object
 3   category    object
 4   job         object
 5   characters  object
dtypes: int64(1), object(5)
memory usage: 2.2+ GB
Nan table
 tconst               0
ordering             0
nconst               0
category             0
job           41594494
characters    25286099
dtype: int64

In [238]:
# what is the average of actors' age 
# Get only people with birthday
#year_now = pd.datetime.now().year
#df_birthday = df_names_basics[(df_names_basics["birthYear"].notna()) & (1850 < df_birthday["birthYear"]) & (df_birthday["birthYear"] < year_now)].copy()
#df_birthday["birthYear"]=df_birthday["birthYear"].astype("Int64")
#df_birthday["deathYear"]=df_birthday["deathYear"].astype("Int64")

/var/folders/ts/l4jvqvn135g1lpkckf7t5cmc0000gn/T/ipykernel_1844/1249667060.py:3: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  year_now = pd.datetime.now().year

In [239]:
#df_birthday["age"] = df_names_basics[["birthYear", "deathYear"]].apply(lambda x: \
                                                                       year_now - x["birthYear"] if pd.isna(x["deathYear"]) \
                                                                       else x["deathYear"] - x["birthYear"], axis=1)
#df_birthday['age'] = df_birthday['age'].astype("Int64")
# keep only actors
#df_birthday.drop(df_birthday[df_birthday['primaryProfession'].str.contains("actress|actor", case=False)==False].index, inplace=True)
#df_birthday.drop(df_birthday[df_birthday['primaryProfession'].isna()].index, inplace=True)
#df_birthday.drop(df_birthday[df_birthday['knownForTitles'].isna()].index, inplace=True)

In [306]:
# Check how many time an actor | actrisss have been in movies or series
df_actors = df_names_basics[(df_birthday['primaryProfession'].isna() != True) & (df_names_basics['primaryProfession'].str.contains("actress|actor", case=False))].copy()
# I used explode to change list of movies to row and be able to merge
df_actors["knownForTitles"] = df_actors["knownForTitles"].apply(lambda x : str(x).split(","))
df_actors_titles = df_actors.explode("knownForTitles").reset_index(drop=True)\
.merge(df_titles_basics, left_on="knownForTitles", right_on="tconst")
df_actors

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899.0,1987.0,"soundtrack,actor,miscellaneous","[tt0050419, tt0053137, tt0072308, tt0031983]"
1,nm0000002,Lauren Bacall,1924.0,2014.0,"actress,soundtrack","[tt0117057, tt0037382, tt0071877, tt0038355]"
3,nm0000004,John Belushi,1949.0,1982.0,"actor,soundtrack,writer","[tt0077975, tt0078723, tt0080455, tt0072562]"
4,nm0000005,Ingmar Bergman,1918.0,2007.0,"writer,director,actor","[tt0083922, tt0069467, tt0050986, tt0060827]"
5,nm0000006,Ingrid Bergman,1915.0,1982.0,"actress,soundtrack,producer","[tt0036855, tt0034583, tt0077711, tt0038109]"
...,...,...,...,...,...,...
11503747,nm9961584,Semra Atilay,1935.0,1999.0,actress,"[tt0401531, tt0367627, tt0368809, tt0263409]"
11508461,nm9967094,Allyn M. Schmitz,1946.0,2020.0,actor,"[tt2247057, tt5591666]"
11511542,nm9970751,Helmut Winschermann,1920.0,2021.0,"actor,soundtrack","[tt0063136, tt8696414]"
11511593,nm9970811,Cristian Mosquera,2006.0,2020.0,actor,"[tt8696516, tt2066179]"
11518931,nm9979256,Vladislav Zhukovskiy,1944.0,2018.0,actor,[tt4032688]

In [307]:
#df_birthday_film['startYear_x'].dropna()
df_actors_titles.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 377695 entries, 0 to 377694
Data columns (total 15 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   nconst             377695 non-null  object
 1   primaryName        377695 non-null  object
 2   birthYear          377695 non-null  float64
 3   deathYear          366598 non-null  float64
 4   primaryProfession  377695 non-null  object
 5   knownForTitles     377695 non-null  object
 6   tconst             377695 non-null  object
 7   titleType          377695 non-null  object
 8   primaryTitle       377695 non-null  object
 9   originalTitle      377695 non-null  object
 10  isAdult            377695 non-null  float64
 11  startYear          376977 non-null  float64
 12  endYear            55197 non-null   float64
 13  runtimeMinutes     317995 non-null  object
 14  genres             361871 non-null  object
dtypes: float64(5), object(10)
memory usage: 46.1+ MB

In [309]:
# Create a column with the age of the actor during the movie
df_actors_titles["age_acting"] = df_actors_titles[["birthYear", "startYear"]].apply(lambda x: \
                               year_now - x["birthYear"] if pd.isna(x["startYear"]) \
                               else x["startYear"] - x["birthYear"], axis=1)

In [310]:
# Create a column with the age of the actor during the movie
df_actors_titles[df_actors_titles["age_acting"] < 0]

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,age_acting
241,nm2541028,Richard Swift,1977.0,2018.0,"actor,soundtrack",tt0072562,tt0072562,tvSeries,Saturday Night Live,Saturday Night Live,0.0,1975.0,NaN,90.0,"Comedy,Music",-2.0
7910,nm0499659,Trent Lehman,1961.0,1982.0,actor,tt0047736,tt0047736,tvSeries,Gunsmoke,Gunsmoke,0.0,1955.0,1975.0,60.0,Western,-6.0
7922,nm0643182,Karen Obediear,1962.0,2009.0,actress,tt0047736,tt0047736,tvSeries,Gunsmoke,Gunsmoke,0.0,1955.0,1975.0,60.0,Western,-7.0
9545,nm0338047,Keith Green,1953.0,1982.0,actor,tt0042116,tt0042116,tvSeries,The Jack Benny Program,The Jack Benny Program,0.0,1950.0,1965.0,30.0,Comedy,-3.0
15349,nm0001576,Heather O'Rourke,1975.0,1988.0,actress,tt0070992,tt0070992,tvSeries,Happy Days,Happy Days,0.0,1974.0,1984.0,30.0,"Comedy,Family,Music",-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
374143,nm5534958,Munna Lahori,2018.0,2018.0,actor,tt2720708,tt2720708,tvSeries,Ainak Wala Jin,Ainak Wala Jin,0.0,1993.0,1996.0,NaN,"Adventure,Fantasy",-25.0
374666,nm6013497,Emily Selke,1992.0,2015.0,actress,tt0500121,tt0500121,video,Once Upon a Potty,Once Upon a Potty,0.0,1990.0,NaN,NaN,Family,-2.0
375083,nm6386378,Dom Fantana,2000.0,2015.0,"director,talent_agent,actor",tt4684222,tt4684222,short,Probably the Best Test Title Around,Probably the Best Test Title Around,0.0,1985.0,NaN,30.0,"Action,Drama,Fantasy",-15.0
375693,nm6926034,María José Alvarado,1995.0,2014.0,actress,tt0907703,tt0907703,tvSeries,X-O da dinero,X-O da dinero,0.0,1959.0,NaN,30.0,Game-Show,-36.0
377120,nm8582765,Ian Alexander Jr.,1996.0,2022.0,"actor,stunts,transportation_department",tt4346344,tt4346344,tvSeries,E! Live from the Red Carpet,E! Live from the Red Carpet,0.0,1995.0,NaN,240.0,News,-1.0

In [311]:
# Get the average of age by movie then whole data
df_film_ave_age = df_actors_titles[(df_actors_titles["age_acting"] > 0) & (df_actors_titles["age_acting"] < 100)].groupby(["tconst", "primaryTitle"]).agg({'age_acting': "mean", 'nconst': 'count'})
df_film_ave_age.describe().astype(int)

       age_acting  nconst
count      149131  149131
mean           43       2
std            15       5
min             1       1
25%            33       1
50%            42       1
75%            52       3
max            99     784

In [320]:
df_actors_titles.pivot_table(values="tconst", index=["nconst", "primaryName"], columns="titleType", aggfunc="count", fill_value=0).sort_values("movie", ascending=False)

,titleType,movie,short,tvEpisode,tvMiniSeries,tvMovie,tvSeries,tvShort,tvSpecial,video,videoGame
nconst,primaryName,,,,,,,,,,
nm0000001,Fred Astaire,4,0,0,0,0,0,0,0,0,0
nm0419682,Jayanthi,4,0,0,0,0,0,0,0,0,0
nm0888207,Monique van Vooren,4,0,0,0,0,0,0,0,0,0
nm0419549,Stanislaw Jaworski,4,0,0,0,0,0,0,0,0,0
nm0888151,Eric Van Valkenburg,4,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
nm1729535,Simon Forbes,0,0,0,1,0,3,0,0,0,0
nm1728947,Valerie Tudor,0,0,0,0,2,0,0,0,0,0
nm1728927,Kim Tannahill,0,0,0,0,0,0,0,0,1,0
nm1728881,Dorothy Shackleton,0,0,0,0,1,0,0,0,0,0
nm1138968,Mason Flynt,0,0,0,0,0,0,0,0,4,0